<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.denpa.ghostshuttle">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/gs_logo_color"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/gs_logo_color"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="jp.ghostserver.ghostshuttle.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="jp.ghostserver.ghostshuttle.EditActivity"/>
        <activity android:name="jp.ghostserver.ghostshuttle.AppDetail"/>

        <receiver
                android:name="jp.ghostserver.ghostshuttle.AlarmBroadcastReceiver"
                android:process=":remote" />

        <activity android:name="jp.ghostserver.ghostshuttle.DeleteActivity"/>
        <activity android:name="jp.ghostserver.ghostshuttle.iconActivity"/>
        <!--
            縦固定
            android:screenOrientation="portrait"
        -->
        <activity android:name="jp.ghostserver.ghostshuttle.SettingActivity"/>
        <activity
                android:name="jp.ghostserver.ghostshuttle.ViewerActivity"
                android:label="@string/title_activity_viewer"
                android:theme="@style/AppTheme"/>
    </application>

</manifest>